body {
    background-image: linear-gradient(to left, #00ff7f, #87cefa);
}
 #flex    {
     display: flex;
     flex-direction: row;
 }

 h1 {
     color: #191970;
     text-align: center;
     font-size: 50px;
}


p{
     color: #000000;
     text-align: left;
     font-size: 20px;
     font-weight: bold;
}

a{
     color: #800080;
     text-align: right;
     font-size: 20px;
     font-weight: bold;
}
